.contact-container {
    background: linear-gradient(to right, #f8f9fa, #e9ecef); /* Light gray gradient */
    padding: 60px 20px;
    text-align: center;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .section-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
    color: linear-gradient(to right, #182529, #94aec0);
  }
  
  
  .contact-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .contact-info {
    text-align: left;
    font-size: 1.1em;
    width: 100%;
    max-width: 300px;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  .social-links {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 20px;
  }
  
  .social-links a {
    font-size: 1.5em;
    color:linear-gradient(to bottom right, #7f5af0, #ffd700);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-links a:hover {
    transform: scale(1.2);
    color: linear-gradient(to bottom right, #7f5af0, #ffd700);
  }
  
  .contact-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #6a11cb; /* Focus highlight color */
    outline: none;
  }
  
  .contact-form .submit-button {
    padding: 10px 20px;
    background: linear-gradient(to right, #182529, #94aec0); /* Gradient button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .contact-form .submit-button:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom right, #7f5af0, #ffd700);
  }
  